
.vscode/
Library/
Logs/
Packages/
ProjectSettings/
UserSettings/
Temp/
*.py
*.sln
*.csproj
*.py.meta
*.sln.meta
*.csproj.meta
*.kra
*.kra~
*.kra.meta
*.kra~.meta


Build/Windows/*
!Build/Windows/latest/

Build/macOS/*
!Build/macOS/latest/

Build/Linux/*
!Build/Linux/latest/